<!-- Se suele usar como "esqueleto principal del sitio" o la estructura principal -->
<header>
  <img class="imgMenu"src="../imagenes/menu.png" alt="">
  <h1>{{title}}</h1>
  <!-- <img src="../imagenes/logo/1.2.png" alt="logo" class="logo"> -->
</header>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/']">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/about']">Contacto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">Algo mas</a>
  </li>
</ul>

<hr>

<div class="container"><!-- contenedor usado para estructurar la pagina -->
  <!-- <app-ladriphone-products></app-ladriphone-products> -->
  <router-outlet></router-outlet><!--Aca se carga lo que se rutea en el routing module es un contenedor donde se cargan los componentes que queremos mostrar segun la pagina-->
</div>

<hr>

<footer>
  <a class="social" href="https://www.instagram.com/" target="_blank">
      <img class="logoRedes" src="../imagenes/redes/instagram.png" alt="logo de instagram">
  </a>
  <a class="social" href="https://www.facebook.com/" target="_blank">
      <img class="logoRedes" src="../imagenes/redes/facebook.png" alt="logo de facebook">
  </a>
  <a class="social" href="https://www.twitter.com" target="_blank">
      <img class="logoRedes" src="../imagenes/redes/twitter.png" alt="logo de twitter">
  </a>
</footer>
